@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 0.9vw;
}


body {
  font-family: 'Poppins', sans-serif;
  background: var(--background);
  color: var(--font);
  display: flex;
  flex-direction: column;
}

/*  */
body {
  height: 6800; /* Used to enable scrolling */
  background: linear-gradient(
    var(--scheme1) 28%,
    var(--scheme2) 31%,
    var(--scheme3) 42%,
    var(--scheme4) 45%,
    var(--scheme5) 83.7%,
    var(--scheme6) 100%);
}

.app {
  width: 100vw;
  transition: all .5s ease;
  --webkit-transition: all .5s ease;
  --moz-transition: all .5s ease;
}

.project-link {
  text-decoration: none;
  font-weight: bold;
  color: #fff;
  background-color: var(--contrast);
  margin-left: 5px;
  padding: 5px 8px;
  border-radius: 10px;
  font-family: 'Poppins', sans-serif;
  border: none;
}

.project-link:hover {
  background-color: #146161;
}

.weblink {
  color: var(--contrast);
  font-weight: 600;
  text-decoration: none;
}

.weblink:hover {
  color: var(--accent1);
}

h1 {
  font-size: 10px;
}

/* background fade animation */
@keyframes fadeBackground {
  from { background-color: #FCE97F; }
  to { background-color: #2EB07B; }
}
