html {

    box-sizing: border-box;
    --bgColorMenu : #252525;
    --duration: .7s;    

}

/* html *,
html *::before,
html *::after {

    box-sizing: inherit;

} */

body{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #b8e779;
    -webkit-tap-highlight-color: transparent;
    transition: background-color var(--duration);

}

.menu{
    left: 0;
    top: 0;
    margin: 0;
    display: flex;
    /* Works well with 100% width  */
    width: 100%;
    font-size: 1.5em;
    padding: 0.75em 2.85em;
    position: fixed;
    align-items: center;
    justify-content: center;
    background-color: var(--bgColorMenu);
    z-index: 5;
    
}

.menu__item{
    
    all: unset;
    justify-content: center;
    padding: 0.25em 0 0.25em 0em;
    margin: 0 1em 0 1em;
    max-width: 2em;
    flex-grow: 1;
    z-index: 100;
    display: flex;
    cursor: pointer;
    position: relative;
    border-radius: 50%;
    align-items: center;
    will-change: transform;
    transition: transform var(--timeOut , var(--duration));
    
}

.menu__item::before{
    
    content: "";
    z-index: -1;
    width: 4.2em;
    border-radius: 50%;
    position: absolute;
    transform: scale(0);
    transition: background-color var(--duration), transform var(--duration);
    
}


.menu__item.active {

    transform: translate3d(0, .4em , 0);

}

.menu__item.active::before{
    
    transform: scale(1);
    background-color: var(--bgColorItem);

}

.icon{
    width: 2em;
    stroke: white;
    fill: transparent;
    stroke-width: 1pt;
    stroke-miterlimit: 10;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 400;
    
}

@keyframes svg-stroke {

    100% {
        stroke-dashoffset: 400;

    }

}

.menu__item .active .icon {
    animation-name: svg-stroke;
    animation: 1.5s reverse;
    
}

.menu__border{

    left: 0;
    bottom: -1em;
    width: 6em;
    height: 1.1em;
    rotate: 180deg;
    position: absolute;
    clip-path: url(#menu);
    will-change: transform;
    background-color: var(--bgColorMenu);
    transition: transform var(--timeOut, var(--duration));
}

.svg-container {

    width: 0;
    height: 0;
}


@media screen and (max-width: 50em) {
    .menu{
        font-size: .8em;
    }
}