.category {
    /* to ensure that page assets can be overlayed */
    position: relative; 
}

.container {
    height: 120vh;
    width: 100vw;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.content {
    height: 80vh;
}

.section {
    display: flex;
    margin: 8vw;
    padding: 5em;
    background-color: var(--section);
    height: 75vh;
    justify-items: center;
    align-items: center;
}

.subsection {
    margin: margin;
}

h1 {
    font-size: 28px;
}

.page-assets {
    position: absolute;
}