.container {
    height: 100vh;
    width: 100vw;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.content {
    height: 80%;
}

.section {
    display: flex;
    margin: 8vw;
    padding: 5em;
    background-color: var(--section);
    height: 80vh;
    justify-items: center;
    align-items: center;
}

.subsection {
    margin: margin;
}

h1 {
    font-size: 48px;
}

/* .page-assets {
    z-index
} */