#contact-container {
  align-items: center;
  justify-content: center;
}

#contact-content {
  margin-right: auto;
  height: fit-content;
}

#contact-content h1 {
  font-size: 36px;
}

#contact-content .section {
  display: flex;
  flex-direction: column;
  padding: 5vh 5vw;
  height: fit-content;
  transform: translate(0, 5%);
}

#contact-content .section h1 {
  margin-bottom: 10px;
  text-align: center;
}

#contact-content .sub-section {
  width: 100%;
}

#contact-content .link {
  color: var(--font);
  text-decoration: none;
}

#contact-content .link:hover {
  color: var(--linkhover);
}

#contact-links {
  display: flex;
  justify-content: center;
}

.contact-link {
  font-size: clamp(48px, 8vw, 100px);
  margin: 20px 35px;
  transition: transform 0.2s ease-out;
}

.contact-link:hover {
  transform: scale(1.25);
}

.resume-link {
  font-size: 34px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
