#skills-content {
  display: flex;
  flex-direction: row;
}

#skills-content .section {
  width: 30vw;
  flex-direction: column;
  padding: 5vh;
}

#skills-content .section h1 {
  margin-bottom: 10px;
}

#skills-content .grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, 1fr);
  width: 100%;
}

@media (max-width: 768px) {
  #skills-content {
    flex-direction: column;
  }
  #skills-content .section {
    width: 100%;
  }
  #skills-content .grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }
}

@media (max-width: 480px) {
  #skills-content .grid {
    grid-template-columns: 1fr;
  }
}
