.welcome {
    width: 50vw;
    height: 50vh;
    margin: 0 auto;
    margin-top: 15vw;
    margin-bottom: 26vw;
    text-align: center;
}

.welcome h1 { 
    flex: 1;
    font-size: 48px;
}

#about-me {
    width: 50%;
    margin-left: auto;
}